
body{
    background-color: #f0f2f5;
}


.parent {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 95vh;
    margin-left: 10rem;
    margin-right: 10rem;
    
    
}
 

.container {
    padding: 10px;
}

form {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    padding-top: 25px;
    background-color: #ffffff;
    margin-bottom: 20px;
    width: 25rem;
   
}

button {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;   
}

.a {
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 110px;
}

h1 {
    font-size: 60px;
    color: #0866ff;
    padding: none;
    
    
}

p {
    font-size: 30px;
    width:35rem ;
    padding-top: 1px;
}

input {
    width: 85%;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

::placeholder {
    font-size: 18px;
}

button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #1877f2;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

hr {
    margin: 20px;
}



#create {
    color: black;
        text-decoration: none;

}

.create {
    background-color: #42b72a;
    width: 70%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-left: 50px;
    font-family: Arial, sans-serif;
    font-size: 18px;

}

span  {
    padding-left: 55px;
}
